@import "reset.css";
// Typography

/*
Modular Scale
11.391em
7.594em
5.063em
3.375em
2.25em
1.5em
1em
0.667em
0.444em
0.296em
0.198em
0.132em
0.088em
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-size: 3.375em;
}

h2 {
    font-size: 2.25em;
}

p {
    color: #666;
}

main {
    max-width: 1440px;
}

.feature-img {
    width: 100%;
}