@import "reset.css";

/*
Modular Scale
11.391em
7.594em
5.063em
3.375em
2.25em
1.5em
1em
0.667em
0.444em
0.296em
0.198em
0.132em
0.088em
*/


/* ***********

General Typography

************* */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: 'Questrial', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-size: 3.375em;
}

h2 {
    font-size: 2.25em;
}

p,
li {
    max-width: 40em;
}
li {
    padding:1em 0;
}

a {
    color: #333;
    text-decoration: underline;
    &:hover {
        font-weight: 700; // text-decoration: underline;
    }
    &:active {
        color: black;
    }
}

body {
    color: #666;
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 300;
    font-size: 18px; //base font
}


/* **********

General Layout

********** */

main {
    max-width: 1440px;
}

.feature-img {
    width: 100%;
}

body {
    padding: 5em;
}

section {
    padding: 2em 0;
}

header {
    p {
        margin: 1em 0;
    }
    span {
        color: #333;
        font-size: 1.15em;
        font-weight: 700;
    }
}